.HomePage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1800px;

    .homeTitle {
        margin: 5rem;
        text-align: center;
        font-size: $supertitle-font-size;
        font-weight: $regular-weight;
        color: $primary-green
    }

    .gamesGrid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .moreGamesTitle {
        margin: 5rem;
        text-align: center;
        font-size: $title-font-size;
        font-weight: $regular-weight;
        color: $primary-green;
    }
}