// background palette
$primary-background: #F6F6F2;

// theme palette
$primary-green: #388087;
$secondary-green: #6FB3B8;
$primary-accent: #BADFE7;
$secondary-accent: #C2EDCE;

// game colours
$red-stop: #F13A37;
$green-go: #B0E86E;